{{#each bets as |bet|}}

  {{! this is a comment that will stop handlebars expressions (javascripty things) from running }}
  {{!-- this is also a comment --}}
  {{!-- {{log bet}} --}}
<section data-id="{{bet._id}}" class="bet-content bets">
  <label>Bet {{bet._id}}</label>
      <div>
    Date: {{ bet.date }}
    Bet Amount: {{bet.bet_amount}}
    Bet Description: {{bet.bet_description}}
    Bet Result: {{bet.bet_result}}
    <button class="remove-bet" data-id="{{bet._id}}">Remove Bet</button>
    <!-- {{> delete-bet }} -->
    <!-- {{> remove-btn id=bet._id}} -->

    </div>
  </section>

{{/each}}
